<!-- CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- JavaScript/jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script src="result.js"></script>

 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<div class="index-main">
  <div class="hero my-img d-flex align-items-center justify-content-center text-center" style="background: url(<%= asset_path 'ster' %>) no-repeat center center; background-size: cover;">
    <div>
      <h1 class="text-white">destinynumbers</h1>
    </div>
  </div>
   <div class="text-center">
<%= render "shared/header" %>
<h3 class="my-title">
  数 秘 術 占 い<br>
  <small class="text-body-secondary">名前と生年月日を入力して下さい</small>
  </h3>

<%= form_with(model: @result, local: true) do |f| %>
  <div class="mb-3 row justify-content-center">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'input-short', id: 'inputName' %>
  </div>

  <div class="mb-3">
    <%= f.label :birthday, class: 'form-label' %>
    <div class='input-birth-wrap'>
      <%= raw sprintf(
        f.date_select(
          :birthday,
          class: 'select-birth form-control', 
          id: "result_birthday",
          use_month_numbers: true,
          prompt: '--',
          start_year: 1930,
          end_year: (Time.now.year - 5),
          date_separator: '%s'
        ),
        "<p> 年 </p>", "<p> 月 </p>"
      ) + "<p> 日 </p>" %>
    </div>
  </div>

  <div class="text-center">
    <input type="hidden" name="calculation_result" id="calculation_result">
    <input type="button" value="占う" class="btn-pink" id="fortune-button">
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-3 mb-4">
     <%= link_to result_path(1) do %>  
     <img src="<%= asset_path 'reder.jpg' %>" class="img-fluid img-result" alt="Result Image" style="width: 100%; height: 150px;">
    </div><% end %>
    <div class="col-md-3 mb-4">
      <%= link_to result_path(2) do %>
      <img src="<%= asset_path 'kyokan.jpg' %>" class="img-fluid img-result" alt="Result Image" style="width: 100%; height: 150px;">
    </div><% end %>
    <div class="col-md-3 mb-4">
      <%= link_to result_path(3) do %>
      <img src="<%= asset_path 'smile.jpg' %>" class="img-fluid img-result" alt="Result Image" style="width: 100%; height: 150px;">
    </div><% end %>
    <div class="col-md-3 mb-4">
      <%= link_to result_path(4) do %>
      <img src="<%= asset_path 'ru-ru.jpg' %>" class="img-fluid img-result" alt="Result Image" style="width: 100%; height: 150px;">
    </div><% end %>
  </div>
  <div class="row">
    <div class="col-md-3 mb-4">
      <%= link_to result_path(5) do %>
      <img src="<%= asset_path 'boken.jpg' %>" class="img-fluid img-result" alt="Result Image" style="width: 100%; height: 150px;">
    </div><% end %>
    <div class="col-md-3 mb-4">
      <%= link_to result_path(6) do %>
      <img src="<%= asset_path 'doll.jpg' %>" class="img-fluid img-result" alt="Result Image" style="width: 100%; height: 150px;">
    </div><% end %>
    <div class="col-md-3 mb-4">
      <%= link_to result_path(7) do %>
      <img src="<%= asset_path 'cool.jpg' %>" class="img-fluid img-result" alt="Result Image" style="width: 100%; height: 150px;">
    </div><% end %>
    <div class="col-md-3 mb-4">
      <%= link_to result_path(8) do %>
      <img src="<%= asset_path 'tomi.jpg' %>" class="img-fluid img-result" alt="Result Image" style="width: 100%; height: 150px;">
    </div><% end %>
  </div>
  <div class="row">
    <div class="col-md-3 mb-4">
      <%= link_to result_path(9) do %>
      <img src="<%= asset_path 'satori.jpg' %>" class="img-fluid img-result" alt="Result Image" style="width: 100%; height: 150px;">
    </div><% end %>
    <div class="col-md-3 mb-4">
      <%= link_to result_path(11) do %>
      <img src="<%= asset_path 'tenshi.jpg' %>" class="img-fluid img-result" alt="Result Image" style="width: 100%; height: 150px;">
    </div><% end %>
    <div class="col-md-3 mb-4">
      <%= link_to result_path(22) do %>
      <img src="<%= asset_path 'futago.jpg' %>" class="img-fluid img-result" alt="Result Image" style="width: 100%; height: 150px;">
    </div><% end %>
    <div class="col-md-3 mb-4">
      <%= link_to result_path(33) do %>
      <img src="<%= asset_path 'iruka.jpg' %>" class="img-fluid img-result" alt="Result Image" style="width: 100%; height: 150px;">
    </div><% end %>
  </div>
</div>

<% end %>

